*{
  margin: 0;
  padding: 0;
  outline: none;
}


body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
    background-color: rgb(176, 194, 194);
}

input, select{
  background-color: rgb(220, 220, 223);
 }